# توکن ربات بله (در صورت استفاده از پرداخت واقعی)
BOT_TOKEN=your_bot_token_here
WALLET_ID=WALLET-as6NfAMYM6r5ZKUv
# فعال‌سازی حالت شبیه‌سازی (پرداخت واقعی نیاز به تنظیم Webhook دارد)
SIMULATE_PAYMENT=true
NEXTAUTH_URL=http://localhost:3000
